html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #333;
  font-family: 'Noto Sans JP', sans-serif;
}

main {
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
    margin: 0;
    padding: 16px;
    color: white;
    font-size: 32px;
}

/* ーーー　トップ　ーーー */
main.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-msg1 {
  margin: 8px 0;
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../img/top1.jpg');
  background-size: cover;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.top-msg2 {
  padding: 36px 24px;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
  color: #fdfdfd;
}
.top-msg3 {
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #FF8C00;
  background: linear-gradient(to right, #40E0D0, #FF8C00 40%, #FF0080);
  background: -webkit-linear-gradient(to right, #40E0D0, #FF8C00 40%, #FF0080);
  //-webkit-background-clip: text;
  //-webkit-text-fill-color: rgba(255,,0,0);
}
.login-button {
  width: 216px;
  height: 48px;
  background: #4285f4;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  color: white;
}
.top-msg4 {
  margin-top: 48px;
  height: 240px;
  width: 100%;
}
.top-msg4 img {
  height: 240px;
  width: 100%;
}

footer.top {
  padding: 16px 0;
  background: #000;
}
footer.top p {
  margin: 0;
  padding: 2px;
  text-align: center;
  font-size: 16px;
  color: white;
}


/* ーーー　ワークアウト　ーーー */

.start {
    padding: 16px 24px;
    height: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.start p {
    padding: 4px;
    margin: 0;
    font-size: 24px;
    color: white;
}

.start img {
    height: 240px;
}

.countdown {
    padding: 16px 24px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    color: white;
}

.control {
    padding: 24px 0;
    display: flex;
    justify-content: space-evenly;
}

.control button {
    width: 156px;
    height: 80px;
    border-radius: 40px;
    font-size: 24px;
    font-weight: bold;
    border: 4px solid #555;
}

.start-button {
    background: greenyellow;
}

.pause-button,
.restart-button {
    background: yellow;
}

.end-button {
    background: orangered;
}

.info {
    padding: 16px 24px;
    height: 320px;
}

.countup {
    font-size: 72px;
    color: white;
}

.distance {
    padding: 0 8px;
    font-size: 40px;
    color: yellow;
}

.lat,.lng,.speed {
    font-size: 32px;
    color: white;
}

