html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #333;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
    margin: 0;
    padding: 16px;
    color: white;
    font-size: 32px;
}

.start {
    padding: 16px 24px;
    height: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.start p {
    padding: 4px;
    margin: 0;
    font-size: 24px;
    color: white;
}

.start img {
    height: 240px;
}

.countdown {
    padding: 16px 24px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    color: white;
}

.control {
    padding: 24px 0;
    display: flex;
    justify-content: space-evenly;
}

.control button {
    width: 156px;
    height: 80px;
    border-radius: 40px;
    font-size: 24px;
    font-weight: bold;
    border: 4px solid #555;
}

.start-button {
    background: greenyellow;
}

.pause-button,
.restart-button {
    background: yellow;
}

.end-button {
    background: orangered;
}

.info {
    padding: 16px 24px;
    height: 320px;
}

.countup {
    font-size: 72px;
    color: white;
}

.distance {
    padding: 0 8px;
    font-size: 40px;
    color: yellow;
}

.lat,.lng,.speed {
    font-size: 32px;
    color: white;
}

main {
  height: calc(100vh - 100px);
  margin: 0;
  padding: 0;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-btn .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
.google-btn .btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669F2;
}